# Editor backup files
*~
*.swp
*.swo
*.bak

# Build artefacts
*.cmd
*.ko
*.o
*.rules
kbus.mod.c
modules.order
Module.symvers
.tmp_versions

*.a
*.so
*.class
*.jar
*.pyc
jkbus/java/include/com_kynesim_kbus_KMessage.h
jkbus/java/include/com_kynesim_kbus_Ksock.h
utils/kmsg
utils/runlimpet
